@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
  --box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat';
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 2px;
  margin: 0;
}

h3 {
  border-bottom: 2px solid rgb(60, 61, 153);
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 18px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-radius: 20px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 2px solid #a1a0a0;
}

.money {
  font-size: 22px;
  letter-spacing: 2px;
  margin: 5px 0;
}

.money.plus {
  color: #1f924f;
}

.money.minus {
  color: #9b3227;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 2px solid #c2c2c2;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  padding: 9px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #11398d;
  box-shadow: var(--box-shadow);
  color: snow;
  border: 0;
  border-radius: 20px;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 8px solid #2ecc71;
}

.list li.minus {
  border-right: 8px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #ca4334;
  border: 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: snow;
  font-size: 20px;
  line-height: 20px;
  padding: 3px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}